<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{$title}}</title>
</head>

<body>
output_callback
Можно задать необязательный параметр output_callback. 
Эта функция принимает строку в виде аргумента и должна также вернуть строку.
 Она вызывается при сбросе (отправке) или очистке (с помощью ob_flush(), ob_clean() или подобных функций) или если буфер вывода сбрасывается в браузер по окончанию запроса.
 При вызове функции output_callback, она получает содержимое буфера и, как ожидается, должна вернуть обновленное содержимое для буфера вывода, которое будет отправлено браузеру.
 Если output_callback не является допустимой функцией, то эта функция вернет FALSE. Описание функции для этого параметра:

string handler ( string $buffer [, int $phase ] )
</body>

</html>